@import '../../main';

.metrics {
    cursor: pointer;
    background-color: $btn-color;
    padding: 10px;
    border-radius: 20px;
}

.metrics[status='false'] {
    background-color: #ff6767;
}

.over {
    border: 3px dotted red !important;
}
